
    #account_header {
        font-size: 14px !important;
    }
    
    hr {
        height: 1px;
        border: none;
        background: rgb(100,102,104);
    }
    
    .action_button {
        padding:20px;
        background:rgb(80,82,84);
        border-radius:10px;
        border: 1px solid white;
        cursor:pointer;
        color:white;
        font-size:14px;
        width:150px;
        font-family: 'gotham_medium', sans-serif;
    }
  
    .action_button:hover {
        background:rgb(100,102,104);
    }
  
    .underline {
        text-decoration:underline;
    }
    
    #balance_table_wrapper {
        display: inline-block;
    }
    #balance_table_outer {
        margin: 30px 60px;
    }
    #balance_table_outer td {
        white-space: nowrap;
        vertical-align: bottom;
    }
    #balance_table_wrapper td.heading_cell {
        text-align: left;
        padding-bottom: 24px;
        padding-right: 50px;
        padding-left: 0;
    }
    .balance_table {
        border-collapse: collapse;
        float: right;
    }
    .balance_table td {
        padding: 3px 0;
        text-align: right;
    }
    #btc_balance_row, #rc_balance_row, .fiat_balance .fiat_display {
        font-size: 12px;
    }
    #rc_balance_cell {
        padding-top: 0px !important;
        padding-bottom: 6px !important;
        border-bottom: 1px solid rgb(220,220,220);
    }
    .btc_balance {
        font-size: 18px;
    }
    #in_play_balance_wrapper td {
        padding-top: 0 !important;
    }
    #total_balance_cell {
        border-top: 1px solid rgb(220,220,220);
    }
    #deposit_prompt_major {
        display: inline-block;
        padding-left: 20px;
        text-decoration: none;
    }
    #deposit_prompt_major:hover {
        cursor: pointer;
        text-decoration: underline;
    }
    
    #account_menu {
        float: left;
    }
    
    .subwindow {
        padding:13px 50px 13px 11px;
        background:rgb(80,82,84);
        border-top: 2px solid rgb(44,46,48);
        position:relative;
    }
  
    .clickable_subwindow {
        cursor:pointer;
        font-size: 13px;
    }
  
    .clickable_subwindow:hover {
        background:rgb(100,102,104);
    }
  
    .hidden_subwindow {
        display: none;
        font-size: 13px;
    }
  
    .subwindow_heading {
        font-size:13px !important;
    }
    
    .link_subwindow {
        display: block;
        text-decoration: none;
        color: white;
    }
  
    .hide_button {
        position:absolute;
        top:0;
        right:0;
        padding:20px 20px 60px 40px;
        cursor:pointer;
    }
  
    .disclaimer {
        font-size:13px;
    }
  
    .email_input {
        width:220px !important;
    }
  
    .note_input {
        width:600px !important;
    }
    
    .add_left_margin {
        margin-left:20px;
    }
    .add_right_margin {
        margin-right:20px;
    }
    
    #newsletter_checkbox {
        cursor:pointer;
    }
  
    #verification_status {
        font-weight:normal;
    }
  
    #verification_message {
        display:none;
    }
  
    .checkbox_label {
        cursor:pointer;
        display:block;
        padding:10px 0;
        width:300px;
    }
  
    #newsletter_label {
        margin-top:20px;
    }
  
    #transaction_report_table table {
        width:100%;
        border-collapse: collapse;
    }
  
    #transaction_report_table tr {
        border-color: rgb(44,46,48);
        border-style: solid;
        border-width: 2px 0px;
        background: rgb(55,56,57);
    }
    
    #transaction_report_table td {
        padding: 5px 10px;
        font-size: 12px;
    }
    #transaction_report_table td:first-child { /* trans no. */
        white-space:nowrap
    }
    #transaction_report_table td:nth-child(3) { /* date */
        color: rgb(230,230,230);
    }
    #transaction_report_table td:nth-child(5) { /* fiat value */
        text-align: right;
        white-space: nowrap;
    }
    #transaction_report_table td:last-child { /* memo */
        text-align: right;
    }
    
    .right_left {
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        list-style: none;
        float: right;
        font-size: 14px;
    }
    .right_left li {
        display: table-cell;
        font-family: "Inconsolata", "Lucida Console", Monaco, monospace;
        font-weight: bold;
        padding-right: 20px;
    }
    
    .memo_link {
        padding: 6px 12px;
    }
    .memo_link:hover {
        text-decoration: underline;
        cursor: pointer;
    }
    
    .account_form {
        list-style: none;
        margin: 0px;
        padding: 0px;
        border: 0px;
    }
    .account_form li {
        display: inline-block;
        padding: 5px 20px 5px 0;
    }
    
    .simple_selection_table {
        
    }
    .simple_selection_table tr {
        border: 1px solid grey;
    }
    .simple_selection_table tr:hover {
        cursor: pointer;
        background: rgb(80,82,84); 
    }
    .simple_selection_table td {
        padding: 5px 20px;
    }
    #currency_table td:first-child {
        padding-right: 0;
    }
    
    .exchange_rate {
        font-size: 10px;
    }
    
    .button_contents {
        list-style: none;
        margin: 0;
        padding: 0;
        outline: 0;
    }
    .button_contents li {
        display: table-cell;
        vertical-align: middle;
    }
  
    .content_body {
        padding-left: 15px !important;
    }

    .dropdown {
        height: 37px;
        width: 220px;
    }

    .roster_basketball_scoring {
        width: 200px;
        margin-left: 25px;
        border: 1px solid red;
    }

    .roster_basketball_scoring div input:nth-child(2) {
        width: 25px;
    }

    #pari_mutuel_table tr:first-child { /* header */
        display: none;
    }