    hr {
        color:rgb(72,76,80);
    }

    .action_button {
        padding:20px;
        background:rgb(100,104,108);
        border-radius:10px;
        border: 1px solid white;
        cursor:pointer;
        color:white;
        font-size:16px;
        width:150px;
        font-family: 'gotham_medium', sans-serif;
    }

    .action_button:hover {
        background:rgb(130,134,138);
    }

    .auto_width {
        width:auto !important;
    }

    .link {
        color:rgb(139,215,255);
        cursor:pointer;
        text-decoration:none;
        font-size:14px;
        padding: 24px;
    }

    .link:hover, .hide_button:hover {
        text-decoration:underline;
    }

    .underline {
        text-decoration:underline;
    }

    #balance_wrapper_table {
        width:100%;
    }

    #balance_wrapper_table td {
        vertical-align:top;
    }

    .deposit_withdraw_table td {
        padding: 18px 18px 0 0;
    }
    
    .balance_table td {
        font-weight: normal;
        font-family: "Lucida Console", Monaco, monospace;
        padding: 12px 20px 12px 0;
        height:20px;
        vertical-align:middle !important;
        font-size:20px;
        white-space:nowrap;
    }

    .balance_field {
        text-align:right;
    }

    #balance_button_table td {
        padding-left:20px;
    }

    .subwindow {
        padding:20px;
        background:rgb(100,104,108);
        /*margin-top:20px;*/
        /*border-radius:10px;*/
        border: 1px solid rgb(44,46,48);
        position:relative;
    }

    .clickable_subwindow {
        cursor:pointer;
    }

    .clickable_subwindow:hover {
        background:rgb(130,134,138);
    }

    .hidden_subwindow {
        display:none;
        font-size:14px;
    }

    .subwindow_heading {
        font-size:16px !important;
    }

    .hide_button {
        position:absolute;
        top:0;
        right:0;
        padding:20px 20px 60px 40px;
        cursor:pointer;
    }

    .disclaimer {
        font-size:13px;
    }

    .email_input {
        width:300px !important;
    }

    .note_input {
        width:600px !important;
    }

    #newsletter_checkbox {
        cursor:pointer;
    }

    #verification_status {
        font-weight:normal;
    }

    #verification_message {
        display:none;
    }

    .checkbox_label {
        cursor:pointer;
        display:block;
        padding:10px 0;
        width:300px;
    }

    #newsletter_label {
        margin-top:20px;
    }

    #transaction_report_table table {
        width:100%;
        border-collapse: collapse;
    }

    #transaction_report_table td {
        padding: 5px 10px;
        border-top: 1px solid rgb(72,76,80);
        border-bottom: 1px solid rgb(72,76,80);
        font-family: "Lucida Console", Monaco, monospace;
    }