    .carousel_bg_image {
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
    }

    .carousel_bg_1 {
        background: url('../img/slides/slide5-min.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;   
    }

    .carousel_bg_2 {
        background: url('../img/slides/slide4-min.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;   
    }

    .carousel_bg_3 {
        background: url('../img/slides/slide3-min.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;   
    }

    .carousel_bg_4 {
        background: url('../img/slides/slide2-min.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;   
    }

    #carousel_bg_5 {
        background: url('../img/slides/slide1-min.jpg') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;   
    }

    #shade {
        background:rgba(20,20,20,0.7);
    }