.checkboxes {
    width: 220px;
}

.checkboxes div {
    padding-bottom: 13px;
}

.checkboxes > div > label {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkboxes > div > input {
    font-family: 'gotham_medium', sans-serif;
    font-size: 14px;
    text-align: center;
    width: 45px !important;
    float: right;
    border-radius: 5px;
    padding: 3px;
    border: none;
    outline: line;
}

.checkboxes > div > input:focus {
    outline: none;
}

.checkboxes > div > input:disabled {
    background: rgb(155, 155, 155); 
}

.dimmed {
    color: rgb(155, 155, 155);
}

#number_of_options, #number_of_payouts {
    width: 20px !important;
    margin-left: 15px;
}

.pari_mutuel_button {
    display: block;
    widows: 220px;
    margin-top: 10px;
}

#pari_mutuel_table tr:first-child { /* header */
    display: none;
}

#pari_mutuel_table input {
    width: 180px !important;
    margin: 5px 0 5px 0 !important;
}

#jackpot_table tr:first-child { /* header */
    display: none;
}

#jackpot_table input {
    width: 160px !important;
    margin: 5px 0 5px 0 !important;
}

.number_of_payouts {
    margin-bottom: 0;
}

.player_list {
    list-style-type: none;
    max-height: 300px;
    min-height: 30px;
    overflow: scroll;
    padding-left: 0px;
    border: 1px solid grey;
    margin-top: 5px;
    border-radius: 10px;
    width: calc(95% + 20px) !important;
    width: -moz-calc(95% + 20px) !important;
    width: -webkit-calc(95% + 20px) !important;
    width: -o-calc(95% + 20px) !important;
}

.player_list li {
    padding: 10px 10px 10px 20px;
    background-color: rgb(80, 80, 80);
}

.player_list li:hover {
    background-color: gray;
    cursor: default;
}

.submit_container {
    margin-top: 15px;
}

.error {
    border: 2px solid #ff5353 !important;
}

.checkbox_title {
    width: 220px;
    margin-bottom: 10px;
}

.game_checkbox_title {
    margin-left: 3px;
}

#create_jackpot_table, #create_pari_mutuel_table {
    display: none;
}

#roster_basketball_games label {
    display: block;
    width: 200px;
    overflow: visible;
    padding: 0 5px 5px 5px;
}

#roster_baseball_games label {
    display: block;
    width: 200px;
    overflow: visible;
    padding: 0 5px 5px 5px;
}

#roster_basketball_title {
    font-size: 14px;
}

#roster_golf_title {
    font-size: 14px;
}

#roster_baseball_title {
    font-size: 14px;
}

.create_contest_form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}

.input_padding .input_style {
    width: 95% !important;
}

.input_padding .dropdown {
    height: 37px;
    width: calc(95% + 20px) !important;
    width: -moz-calc(95% + 20px) !important;
    width: -webkit-calc(95% + 20px) !important;
    width: -o-calc(95% + 20px) !important;
}

.text_button {
    width: calc(95% + 20px) !important;
    width: -moz-calc(95% + 20px) !important;
    width: -webkit-calc(95% + 20px) !important;
    width: -o-calc(95% + 20px) !important;
}

#misc_registration_deadline, #misc_registration_deadline_time_selector {
    width: 45% !important;
}

#misc_settlement_deadline, #misc_settlement_deadline_time_selector {
    width: 45% !important;
}

#pari_mutuel_table_element {
    margin-top: 5px;
    width: calc(100% - 40px) !important;
}

#pari_mutuel_table_element input {
    width: 100% !important;
}

#jackpot_table_element {
    margin-top: 5px;
    width: calc(100% - 40px) !important;
}

#jackpot_table_element input {
    width: 100% !important;
}

.flex {
    display: flex;
    flex-direction: row;
}

@media only screen and (min-width: 650px) {
    .prop_golf_over_under_round_tournament {
        margin-left: 100px;
    }
}