     
    /*------------------------------------------------------------*/

    /* styling for tile preview in game.html/Create Sub-Category */

    .sub_category_item {
        vertical-align: top;
        display: inline-block;
        width: 222px;
        cursor: pointer;
        padding-bottom: 30px;
        color: white;
        text-decoration: none;
    }
    
    .sub_category_add_margin {
        margin-right: 17px;
    }
    
    .sub_category_item:hover .sub_category_tile {
        border: 1px solid white;
    }
    
    .sub_category_tile {
        width: 220px;
        height: 150px;
        background: rgb(74,78,82);
        border: 1px solid rgb(44,46,48);
        background-position:center;
        background-repeat:no-repeat;
        background-size:cover;
    }
    
    .sub_category_details {
        width: 220px;
        text-align: center;
        font-family: 'gotham_medium', sans-serif;
    }
    
    .sub_category_description {
        padding: 12px 0 8px;
        font-size: 16px;
        font-family: 'ubuntu_fantasy', sans-serif;
    }
    
    .sub_category_detail {
        color: rgb(210,210,210);
        font-size: 13px;
    }
    
    .small_text {
        font-size: 11px;
    }

    /*------------------------------------------------------------*/

    .contest_category_title {
        font-size: 18px;
        padding-top: 10px;
    }

    .contest_table, .player_table {
        width: 100%;
        border-collapse: collapse;
    }
    .contest_table {
        margin-bottom: 30px;
    }

    .contest_table tr {
        border: 2px solid rgb(44,46,48);
        background: rgb(100,104,108);
    }
    
    .contest_table td {
        text-align:right;
        padding: 10px 15px;
        font-size: 14px;
    }
    .contest_table td:first-child {
        color: rgb(200,245,255);
        font-family: 'ubuntu_fantasy', sans-serif;
        cursor: pointer;
        font-size: 16px;
    }
    .contest_table td:first-child:hover {
        text-decoration: underline;
    }
    
    /* cancel out css for header cell (first row) */
    
    .contest_table tr:first-child td {
        cursor: default;
        color: white;
        font-family: 'gotham_medium', sans-serif;
        white-space: nowrap;
    }
    .contest_table tr:first-child td:first-child:hover {
        text-decoration: none;
    }
    
    .pay_table td:first-child {
        padding-right: 30px;
    }
    .pay_table td:nth-child(2) {
        text-align: right;
    }
    
    .payout_info_link {
        cursor: pointer;
        font-size: 13px;
    }    
    .payout_info_link:hover {
        text-decoration: underline;
    }

    /*------------------------------------------------------------*/

    #contest_path {
        padding: 15px 0 0;
        color: rgb(210,210,210);
        font-family: 'ubuntu_fantasy', sans-serif;
        font-size: 13px;
    }
    
    #contest_path a {
        color: rgb(210,210,210) !important;
        text-decoration: none;
    }
    #contest_path a:hover {
        text-decoration: underline;
    }
    
    #contest_title {
        color: rgb(200,245,255) !important;
    }
    
    #contest_description {
        margin: 20px;
    }
    #contest_description p {
        padding: 5px 0;
        font-size: 14px;
    }
    #contest_description a {
        text-decoration: none;
        color: rgb(129,243,217) !important;
    }
    #contest_description a:hover {
        text-decoration: underline;
    }
    
    .contest_detail_table {
        margin: 10px 0;
    }
    .contest_detail_table td {
        vertical-align: middle;
        height: 44px;
        padding-right: 30px;
        font-size: 14px;
    }
    
    #salary_cap_container {
        display: inline-block;
    }
    #remaining_players_container {
        display: none;
    }
    
    #player_table_container, #roster_table_container, #player_table_header, #roster_table_header {
        width: 50%;
        display: inline-block;
        font-size: 14px;
    }
    #player_table_header, #roster_table_header {
        margin-top: 3px; /*spacing between bottom of 'number of entries' table and 'available players' -> just needs to be 3 */
        margin-bottom: 20px;
    }
    
    #player_table_container, #roster_table_container {
        height: 474px;
        background: rgb(80,84,88);
        display: inline-block;
        overflow-y: scroll;
    }
    
    .player_table tr {
        border: 1px solid rgb(100,104,108);
    }
    .player_table td {
        padding: 2px 14px;
    }
    .player_table td:nth-child(2), .player_table td:nth-child(3) {
        width:1px;
        padding-left: 0;
    }
    
    .submit_container {
        padding: 30px 0;
    }