    .contest_category_title {
        font-size: 18px;
        padding-top: 10px;
    }

    .contest_table, .player_table {
        width: 100%;
        border-collapse: collapse;
    }
    .contest_table {
        margin-bottom: 30px;
    }

    .contest_table tr {
        border: 2px solid rgb(44,46,48);
        background: rgb(100,104,108);
    }
    
    .contest_table td {
        text-align:right;
        padding: 10px 15px;
        font-size: 14px;
    }
    .contest_table td:first-child {
        color: orange;
        cursor: pointer;
        font-size: 16px;
    }
    .contest_table td:first-child:hover {
        text-decoration: underline;
    }
    
    /* cancel out css for header cell (first row) */
    
    .contest_table tr:first-child td {
        cursor: default;
        color: white;
    }
    .contest_table tr:first-child td:first-child:hover {
        text-decoration: none;
    }
    
    .contest_detail_table td {
        padding-bottom: 20px;
        padding-right: 30px;
    }
    
    .pay_table td:first-child {
        padding-right: 30px;
    }
    .pay_table td:nth-child(2) {
        text-align: right;
    }
    
    .payout_info_link {
        cursor: pointer;
        font-size: 13px;
    }    
    .payout_info_link:hover {
        text-decoration: underline;
    }
    
    #enter_contest {
        width: calc(100% - 4px);
        background: rgb(100,104,108);
        border: 2px solid rgb(44,46,48);
    }
    
    #salary_cap_container {
        display: inline-block;
    }
    #remaining_players_container {
        display: none;
    }
    
    #player_table_container, #roster_table_container, #player_table_header, #roster_table_header {
        width: calc(50% - 30px);
        display: inline-block;
        margin-left: 20px;
    }
    #player_table_header, #roster_table_header {
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    #player_table_container, #roster_table_container {
        height: 400px;
        background: rgb(80,84,88);
        display: inline-block;
        overflow-y: scroll;
    }
    
    .player_table tr {
        border-bottom: 1px solid rgb(100,104,108);
    }
    .player_table td {
        padding: 10px;
    }
    
    #submit_button_container {
        width: calc(100% - 40px);
        padding: 20px;
        text-align: right;
    }