    @font-face {
        font-family: gotham_medium;
        src: url(../fonts/Gotham/Gotham-Medium.otf);
    }
    
    @font-face {
        font-family: gotham_book;
        src: url(../fonts/Gotham/Gotham-Book.otf);
    }
    
    @font-face {
        font-family: 'logo_font';
        src: url('../fonts/Hemi-Head/hemi-head.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'ubuntu_fantasy';
        src: url('../fonts/Ubuntu/Ubuntu-BoldItalic.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'open_sans';
        src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'section_header';
        src: url('../fonts/OpenSans/OpenSans-Bold.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'section_header_2';
        src: url('../fonts/OpenSans/Bold/OpenSans-Bold.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'open_sans_reg';
        src: url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
    }
    
    @font-face {
        font-family: 'open_sans_reg_2';
        src: url('../fonts/OpenSans/Regular/OpenSans-Regular.ttf') format('truetype');
    }
    
    @font-face {
      font-family: Neuzeit;
      font-weight: normal;
      font-style: normal;
      src: url("../fonts/neuzeit/neuzeit-book.eot");
      src: url("../fonts/neuzeit/neuzeit-book.woff") format("woff"), url("../fonts/neuzeit/neuzeit-book.ttf") format("truetype");
    }
    
    @font-face {
      font-family: Neuzeit;
      font-weight: bold;
      font-style: normal;
      src: url("../fonts/neuzeit/neuzeit-book-heavy.eot");
      src: url("../fonts/neuzeit/neuzeit-book-heavy.woff") format("woff"), url("../fonts/neuzeit/neuzeit-book-heavy.ttf") format("truetype");
    }
    
    @font-face {
        font-family: 'Inconsolata';
        font-style: normal;
        font-weight: 400;
        src: local('Inconsolata Regular'), local('Inconsolata-Regular'), url(../fonts/Inconsolata/Inconsolata.woff2) format('woff2');
    }

    body {
        font-family: 'section_header', 'section_header_2', sans-serif;
        padding:0;
        margin:0;
        color:white;
        font-size:16px;
        moz-text-size-adjust:none;
        -webkit-text-size-adjust:none;
        -ms-text-size-adjust:none;
        /*background: url('../img/greybg.png') repeat;*/
        background: rgb(45,46,47) url('../img/fabric_bg.jpg') top center repeat;
    }

    a, a:visited, a:active {
        outline: none;
    }
    
    .lucida {
        font-weight: normal;
        font-family: "Lucida Console", Monaco, monospace;
    }
    
    .logo_font {
        font-family: 'logo_font', sans-serif;
    }
    
    .ubuntu_font {
        font-family: 'ubuntu_fantasy', sans-serif;
    }
    
    #bitcoin_logo, #bitcoin_fantasy {
        display: inline-block;
        height: 20px;
        vertical-align: middle;
    }
    #bitcoin_logo {
        padding-left:5px;
        padding-right:0px;
    }
    #bitcoin_fantasy {
        font-weight: normal;
        font-size:15px;
        margin:0;
        padding:0;
        padding-top:2px;
    }
       
    #centering_container, .centering_container {
        position: relative;
        width: 980px;
        margin: 0 auto;
    }
    
    #body_container, .body_container {
        position: relative;
        padding: 0 20px;
    }
    .lobby_body_container {
        padding: 0 16px 0 14px; /* approx 15px on either side, but this is just how thinks work out at max width */
    }
    .table_body_container {
        padding: 0 20px 20px 20px;
    }
    .section_header {
        font-family: 'section_header', 'section_header_2', sans-serif;
        padding: 10px 0;
        font-size: 16px;
    }
    .body_container.header .section_header {
        margin: 9px 0;
        padding: 10px 11px;
        font-weight: normal;
        background: rgb(60,62,64);
        text-transform: uppercase;
        font-size: 13px;
    }
    .section_header.no_padding_top {
        margin-top: 0 !important;
    }
    .section_header_link {
        color: white;
        text-decoration: none;
    }
    .section_header_link:hover {
        text-decoration: underline;
    }
    
    .link, .inline_link {
        color: rgb(129,243,217);
        cursor: pointer;
        text-decoration: none;
    }
    .link {
        font-size:14px;
        padding: 24px 18px;
    }
    .link:hover, .inline_link:hover, .hide_button:hover {
        text-decoration:underline;
    }
    
    .inline_link.vertical_padding {
        display: block;
        padding: 25px 0px;
        width: 300px;
    }

    .currency_link {
        color: inherit;
        text-decoration: none;
    }
    .currency_link:hover, .currency_link:hover i {
        text-decoration: underline;
    }
    
    table {
        border-collapse:collapse;
    }

    .landing_center {
        position:absolute;
        border-collapse:collapse;
        top:0;
        width:100%;
        height:100%;
    }

    .landing_center td {
        color:white;
        text-align:center;
        vertical-align:middle;
    }

    .landing_center ul {
        margin:0;
        padding:0;
        cursor:default;
    }

    .landing_center li {
        display:inline-block;
        vertical-align: middle;
        padding:4px;
        cursor:default;
    }
    
    .full_width_right_align {
        width:100%;
        text-align:right;
    }

    #c_logo {
        width:50px;
        height:50px;
        background-image: url('../img/c_logo.png'); 
        background-size:50px 50px;
    }

    h1 {
        font-size: 28px;
        margin:0;
        padding:0;
    }
    
    h2 {
        margin:0;
        padding:0;
    }

    .orange {
        color: rgb(255,229,171) !important;
    }
    .orange_border {
        border-color: rgb(255,229,171) !important;
    }
    .orange_actual {
        color: orange !important;
    }
    
    .blue {
        /*color: rgb(139,215,255) !important;*/
        color: rgb(129,243,217) !important;
    }
    
    .green {
        color: rgb(0,255,106) !important;
    }
    .green_border {
        border-color: rgb(0,255,106) !important;
    }
    
    .red {
        color: rgb(255,50,50) !important;
    }
    
    .teal {
        color: rgb(129,243,217) !important;
    }
    
    .steel {
        color: rgb(220,222,224) !important;
    }
    
    .white {
        color: white !important;
    }
    
    .light_on_dark_input::-webkit-input-placeholder {
        color: white;
        opacity: 0.5;
    }
    .light_on_dark_input:-ms-input-placeholder {
        color: white;
        opacity: 0.5;
    }
    .light_on_dark_input::-moz-placeholder {
        color: white;
        opacity: 0.5;
    }
    .light_on_dark_input:-moz-placeholder {
        color: white;
        opacity: 0.5;
    }
    
    .small_text {
        font-size: 11px;
    }
    
    .right_align {
        text-align: right;
    }
    
    .vertical_spacing {
        padding:28px 0 20px;
    }

    .input_style, .light_on_dark_input, .text_button {
        font-family: 'gotham_medium', sans-serif;
        font-size:14px;
        border-radius:8px;
    } 

    .input_style {
        border-width:0;
        padding:10px;
        outline:0;
        cursor:auto;
        width:200px;
    }
    
    .light_on_dark_input {
        background: none;
        color: white;
        border-radius: 0;
        border: none;
        padding: 6px 2px;
        border-bottom: 1px solid rgb(180,180,180);
        outline:0;
        text-align: center;
    }
    
    .input_label {
        font-size:11px;
        display:block;
        width:210px;
        margin:0 auto 5px;
        text-align:left;
    }

    .text_button {
        display:inline-block;
        border:1px solid white;
        padding: 8px 10px;
        background:none;
        color:white;
        cursor:pointer;
        width:220px;
        text-align:left;
        text-decoration:none;
    }
    
    .auto_width {
        width:auto !important;
    }
    
    .hidden {
        display:none;
    }
    
    .a_button {
        width:198px !important; /* text_button width - text_button padding-right, paddingileft - 2 for borders */
    }

    .text_button:hover {
        background:rgba(255,255,255,0.2);
    }

    .input_padding {
        margin: 16px 0;
    }
    
    .description_text {
        font-family: 'open_sans_reg', 'open_sans_reg_2', sans-serif;
        font-size:14px;
    }
    
    .constrain_width {
        max-width: 600px;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        transition: background-color 5000s ease-in-out 0s;
    }
    
    .account_creation_message {
        margin-top: 20px;
        border: 1px solid orange;
        padding: 20px;
        font-size: 15px;
    }
    
    /* protected pages */
    
    #page_title {
        font-size: 24px;
        margin: 40px 0;
    }
    
    #no_data_message {
        font-size: 14px;
    }
    
    #login_signup_table td {
        padding: 10px 10px 10px 0;
    }
    
    #login_signup_table input {
        width: 150px !important;
    }
    
    #reset_password {
        text-decoration:none;
        display:block;
        padding:15px 15px 18px;
        font-size:13px;
    }
    
    #reset_password:hover {
        text-decoration:underline;
    }