    #ssi_header {
        background: black;
        position:relative;
    }
    
    #ssi_header_inner {
        padding: 10px 0;
        color: white;
    }
    
    #ssi_header_table {
        width:100%;
    }

    #ssi_header_table td {
        padding:0 10px;
        font-size:14px;
        white-space:nowrap;
    }
    
    .ssi_header_a_inactive, .ssi_header_a_active {
        display:none;
    }
    
    #ssi_header_spacer_cell {
        width:80px;
    }
    
    .ssi_header_admin_wrapper {
        display:none;
    }
    
    #ssi_header_username {
        color: orange;
        cursor: default;
        text-decoration:none !important;
    }
    
    .ssi_header_a_style {
        color:white;
        text-decoration:none;
        cursor:pointer;
        padding:10px;
    }
    
    .ssi_header_a_style:hover {
        color: white;
        text-decoration:underline;
    }
    
    .ssi_header_active_tab {
        text-decoration:underline;
        cursor:default;
        padding:10px;
    }