
    #ssi_logo_container {
        top: 31px;
        left: 0px;
        width: auto;
        z-index: 100;
        position: absolute;
        text-align: center;
    }
    
    #logo_link {
        text-decoration: none !important;
        color: white !important;
        display: inline-block;
        padding: 23px 20px 10px;
    }

    #coinroster_text {
        padding: 0;
        margin: 0;
        font-size: 20px;
        font-weight: normal;
    }
        
    #ssi_header {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 96px;
    }
    
    #ssi_main_nav_bar, #ssi_mobile_nav_bar {
        z-index: 6;
        width: 100%;
        position: absolute;
    }
    #ssi_main_nav_bar {
        top: 35px;
        padding: 13px 0;
    }
    
    .ssi_header_table {
        width:100%;
    }

    .ssi_header_table td {
        padding:0 6px;
        font-size:14px;
        white-space:nowrap;
    }

   @media only screen and (max-width: 994px) {
       .ssi_header_table td {
           font-size: 13px;
       }
    }
        
    #ssi_header_spacer_cell {
        width:80px;
    }
    
    .ssi_header_admin_wrapper {
        display:none !important;
    }
    
    .ssi_header_a {
        color: inherit;
        text-decoration:none;
        cursor:pointer;
        padding:10px;
    }
    .ssi_header_a_no_link {
        padding: 10px;
        text-decoration: none;
        color: inherit;
        cursor: default;
    }
    #ssi_main_nav_bar .ssi_header_a {
        display: block;
    }
    
    .ssi_subnav_a {
        color: rgb(200,200,200) !important;
    }
        
    .ssi_header_active_tab {
        color: rgb(255,229,171);
        text-decoration: none;
        padding: 10px;
        padding-bottom: 7px;
        border-bottom: 2px solid rgb(255,86,18);
    }
    .ssi_header_a:hover, .ssi_header_active_tab:hover {
        text-decoration:underline;
    }
  
/* Balance Bar -------------------------------------------------------------------- */
      
    #balance_bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(36,38,40, 0.9);
        height: 36px;
        color: white;
        z-index: 1001;
        overflow: hidden;
        text-align: right;
        border-bottom: 1px solid rgb(20,22,24);
    }

    #balance_bar table {
        list-style: none;
        padding: 0;
        margin: 0;
        outline: none;
        display: table;
        width: calc(100% - 10px);
        position: absolute;
        top: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }

    #balance_bar td {
        font-size: 12px;
        white-space: nowrap;
        padding-right: 5px;
        padding-left: 5px;
    }
    
/* Mobile Nav --------------------------------------------------------------------- */
  
    #ssi_mobile_nav_bar {
        z-index: 2;
        cursor: pointer;
        display: none;
        width: 100%;
        top: 42px;
        padding: 12px 0;
    }
    
    #ssi_mobile_nav_logo {
        padding-left: 20px;
        font-size: 20px;
    }
    
    #ssi_mobile_nav_placeholder {
        padding-left: 20px;
        padding-top: 3px;
        font-size: 14px;
    }
    
    #ssi_mobile_nav_icon {
        position: absolute;
        top: 13px;
        right: 20px;
        background-size: 26px 23px;
        width: 26px;
        height: 23px;
    }
    .menu_open {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAAA9BAMAAADxMkJBAAAAHlBMVEUAAAD///////////////////////////////////8kfJuVAAAACXRSTlMA8o3d1qNhMBfFoCJkAAAA10lEQVRIx+3VoQ7CMBQF0JsRApMENYfAzGEQSOTcLJ8wxydgcdsYkP4tFU1vlpa8l6WyVyxZe9q+pmkKbDsj5fMAYDQBapUb0ajchErlBlxU7oWbyr3V+8Wmlnd7R07yHHdnDSvtAfSicuetYzYyI5SYDEvD9BKToZlHYIzAGKE4ligzwjgDvxHIduc47g9zLg4LMucID5HpQMfG0GHmELi1X5WOK7ferTyjIzzBp3KMjnAA07guOv5MYIrrvg0cO3T3LbvsErjOslHhntZ9k7wfLHD5u/UD3cLRBUUytUQAAAAASUVORK5CYII=');
    }
    .menu_closed {
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAE4AAAA9BAMAAADxMkJBAAAAHlBMVEUAAAD///////////////////////////////////8kfJuVAAAACXRSTlMAjvLd1qNhMBckfwZ5AAAAUUlEQVRIx2Ng4MicSQhMa2BgYJhJDGBgkCRK3UQGT6LUTWHQJErdJAZLotRNZogkSt1Uov3LwC5J2LcFDKNgFAwNMFoejJYHo2AUjJYH9CwPAHWNWsKY/D5hAAAAAElFTkSuQmCC');
    }
    
    #ssi_mobile_shade {
        display: none;
        position: fixed;
        z-index: 1;
        left: -500px;
        top: 96px; /* same as #ssi_mobile_nav */
        right: -500px;
        bottom: -500px;
        overflow: hidden;
        background-color: rgba(0,0,0,0.4);
    }
    
    #ssi_mobile_nav {
        z-index: 2;
        display: none;
        position: absolute;
        top: 96px; /* same as #ssi_mobile_shade */
        left: 0;
        right: 0;
        font-size: 13px;
        background: rgb(50,52,54);
    }
    
    #ssi_mobile_nav ul, #ssi_mobile_nav li {
        list-style: none;
        margin: 0;
        padding: 0;
        border: 0;
        display: block;
    }
    
    #ssi_mobile_nav a {
        display: block;
        color: white;
        padding: 13px 20px;
        text-decoration: none;
        border-bottom: 1px solid rgb(90,90,90);
    }
    #ssi_mobile_nav a:hover {
        text-decoration: underline;
        cursor: pointer !important;
    }

    /* old code for dealing with display of username --------------------------------
    
    #balance_bar_username_container {
        max-width: 60%;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        cursor: default;
    }
           
    #ssi_header_account {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAllBMVEUAAAD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQByQTQSAAAAMXRSTlMA6f18vbj59t7a1KhfNh7LrpNDEfHt4cacUzsC5bOIZzIsCgUDj0wUDgejg3Vua1knkHVdbwAAAZhJREFUWMOl1Ndu4zAQheFR781WseLenb7n/V9uF9gAkWUymRG/+5+QSA5JZ/mcbxel23VuUvXXI4nt120T+PY/fmCF1U3av0YY8uNe1lcBRtpU0m/xyNrx+7yGQif4ASjNuP28hpJHTBeo+XPicQCzfyihwT3JAhoO8UTQqHj9soVGQiynFTRK5heE0FgQTwyNjekpvBFPYngPzG/iJzT+EE+m6a0Dd5wD3TXgcjmjIN9FOyOuzNZsAdexVY8S3wIKn8T3pOhXB+I7RapRlPjAgz1J3Jpx75LMG0Z2JHMI7/sXkrrUd0eQk5iHgTXJrTEQLsX9vDHaQ1q+4875RDJ9jTvBVvT5qWdhpHHTZ+YczKrCgoJVnJ9+z2cbN4KOHXvOj2vk7+V3rVsjSee6R2Dj2mCo185emUdg6x6WyD9iiHTpddhnJcQWu0FvYYIwoy/XFSaxvmb8mGAi7//dvPiYyN6OXg6x6EhEmY/peiI6w4BHRCEM+DfKbZiYUQ8jDr3CSEIvMOKSByMxFTASUgsjDRWBZSCI/wLhXH48GGwlPQAAAABJRU5ErkJggg==");
        background-size: 16px 16px;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 24px;
        color: orange !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
    */