
    #bitcoin_fantasy { /* only shows when not logged in for SEO and uninitiated humans */
        display: none !important;
    }
        
    #ssi_logo_container {
        top: 45px;
    }
        
    #balance_bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(36,38,40, 0.8);
        height: 36px;
        color: white;
        z-index: 1001;
        overflow: hidden;
        text-align: right;
    }

    #balance_bar table {
        list-style: none;
        padding: 0;
        margin: 0;
        outline: none;
        display: table;
        width: 100%;
        position: absolute;
        top: 10px;
    }

    #balance_bar td {
        font-size: 12px;
        white-space: nowrap;
    }

    #balance_bar .spacer {
        width: 10px;
    }

    #balance_bar_username_container {
        max-width: 60%;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: orange;
        cursor: default;
    }
      
    #ssi_header {
        height: 158px; /* change the two below */
    }
    #ssi_mobile_nav {
        top: 158px; /* same as above */
    }
    #ssi_mobile_shade {
        top: 158px; /* same as above */
    }
    
    #ssi_main_nav_bar, #ssi_mobile_nav_button {
        top: 112px !important; /* 96 + height of balance bar */
    }