
    #bitcoin_fantasy { /* only shows when not logged in for SEO and uninitiated humans */
        display: none !important;
    }
        
    #ssi_logo_container {
        top: 50px;
    }
        
    #balance_bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(36,38,40, 0.7);
        height: 36px;
        color: white;
        z-index: 1001;
        overflow: hidden;
        text-align: right;
    }

    #balance_bar table {
        list-style: none;
        padding: 0;
        margin: 0;
        outline: none;
        display: table;
        width: 100%;
        position: absolute;
        top: 10px;
    }

    #balance_bar td {
        font-size: 12px;
        white-space: nowrap;
    }

    #balance_bar .spacer {
        width: 10px;
    }

    #balance_bar_username_container {
        max-width: 60%;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: orange;
        cursor: default;
    }
      
    #ssi_header {
        height: 158px; /* change the two below */
    }
    #ssi_mobile_nav {
        top: 158px; /* same as above */
    }
    #ssi_mobile_shade {
        top: 158px; /* same as above */
    }
    
    #ssi_main_nav_bar {
        top: 102px !important; /* 96 + height of balance bar */
    }
    #ssi_mobile_nav_button {
        top: 112px !important; /* 96 + height of balance bar */
    }
        
    #ssi_header_account {
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAMAAACdt4HsAAAAllBMVEUAAAD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQD/pQByQTQSAAAAMXRSTlMA6f18vbj59t7a1KhfNh7LrpNDEfHt4cacUzsC5bOIZzIsCgUDj0wUDgejg3Vua1knkHVdbwAAAZhJREFUWMOl1Ndu4zAQheFR781WseLenb7n/V9uF9gAkWUymRG/+5+QSA5JZ/mcbxel23VuUvXXI4nt120T+PY/fmCF1U3av0YY8uNe1lcBRtpU0m/xyNrx+7yGQif4ASjNuP28hpJHTBeo+XPicQCzfyihwT3JAhoO8UTQqHj9soVGQiynFTRK5heE0FgQTwyNjekpvBFPYngPzG/iJzT+EE+m6a0Dd5wD3TXgcjmjIN9FOyOuzNZsAdexVY8S3wIKn8T3pOhXB+I7RapRlPjAgz1J3Jpx75LMG0Z2JHMI7/sXkrrUd0eQk5iHgTXJrTEQLsX9vDHaQ1q+4875RDJ9jTvBVvT5qWdhpHHTZ+YczKrCgoJVnJ9+z2cbN4KOHXvOj2vk7+V3rVsjSee6R2Dj2mCo185emUdg6x6WyD9iiHTpddhnJcQWu0FvYYIwoy/XFSaxvmb8mGAi7//dvPiYyN6OXg6x6EhEmY/peiI6w4BHRCEM+DfKbZiYUQ8jDr3CSEIvMOKSByMxFTASUgsjDRWBZSCI/wLhXH48GGwlPQAAAABJRU5ErkJggg==");
        background-size: 16px 16px;
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 24px;
        color: orange !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    @media only screen and (min-width: 768px) {

        #ssi_logo_container {
            top: 60px !important;
        }
        
    }
    @media only screen and (max-width: 400px) {

        #ssi_logo_container {
            top: 45px !important;
        }
        
    }